# Manipulating files

## Reading data from CSV, Excel and other file types

Importing datasets into pandas is a fundamental step for data analysis and manipulation. Below are the instructions for importing CSV and Excel files, along with other common file types.

In [2]:
import pandas as pd
import numpy as np

# Reading the first 100 rows from the CSV file located at "../Dataset/ex1.csv" into a DataFrame
df = pd.read_csv("../Dataset/ex1.csv", nrows=100)


# Displaying the DataFrame 'df'
df

         one       two     three      four key
0   0.467976 -0.038649 -0.295344 -1.824726   L
1  -0.358893  1.404453  0.704965 -0.200638   B
2  -0.501840  0.659254 -0.421691 -0.057688   G
3   0.204886  1.074134  1.388361 -0.982404   R
4   0.354628 -0.133116  0.283763 -0.837063   Q
..       ...       ...       ...       ...  ..
95  1.106521  0.098153  0.789793  1.192693   T
96 -0.540543  1.782569  0.051931  0.463868   Q
97 -0.101980  0.981720  1.106990 -1.752269   M
98  0.632107 -0.761419  1.427930 -0.046928   F
99  1.009779 -0.608379 -1.405105 -1.175054   F

[100 rows x 5 columns]

To read the csv file in chunks of *n* rows:

In [3]:
# Reading the CSV file in chunks of 5 rows
chunk_iter = pd.read_csv("../Dataset/ex1.csv", chunksize=5, nrows=20)

# Iterating over chunks and processing each one
for chunk in chunk_iter:
    print(chunk, "\n")
    # You can perform any processing on each chunk here

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

        one       two     three      four key
5  1.817480  0.742273  0.419395 -2.251035   Q
6 -0.776764  0.935518 -0.332872 -1.875641   U
7 -0.913135  1.530624 -0.572657  0.477252   K
8  0.358480 -0.497572 -0.367016  0.507702   S
9 -1.740877 -1.160417 -1.637830  2.172201   G

         one       two     three      four key
10  0.240564 -0.328249  1.252155  1.072796   8
11  0.764018  1.165476 -0.639544  1.495258   R
12  0.571035 -0.310537  0.582437 -0.298765   1
13  2.317658  0.430710 -1.334216  0.199679   P
14  1.547771 -1.119753 -2.277634  0.329586   J

         one       two     three      four key
15 -1.310608  0.401719 -1.000987  1.156708   E
16 -0.088496  0.634712  0.153324  0.415335   B
17 -0.018663 -0.247487 -1.446522  0.750938   A
18 -0.070127 -1.579097  0.120892  0.671432   F
19 -0.194678 -0.492039  2.359605  0.319810   H

The `pd.read_csv` function with `chunksize=5` and `nrows=20` reads the first 20 rows of the CSV file in chunks of 5 rows each. This creates an iterator, `chunk_iter`, which you can loop through.

To read an excel file:

In [4]:
# Reading the Excel file without headers
df = pd.read_excel("../Dataset/ex2.xlsx", header=None)

# Printing the original DataFrame
print("Original DataFrame:")
print(df)

# Creating a mask for NA values
# The mask DataFrame will have the same shape as df, with True indicating NA values and False otherwise
mask = df.isna()

# Stacking the mask DataFrame to get a Series of NA values
# This converts the DataFrame into a Series with a MultiIndex, where the index represents the original row and column indices
mask_stacked = mask.stack()

# Getting the indices of NA values
# Filtering the stacked mask to keep only True values, which indicate the presence of NA values
na_indices = mask_stacked[mask_stacked].index

# Printing the indices of NA values
print("\nIndices of NA values:")
print(na_indices)

Original DataFrame:
     0  1   2   3   4        5
0  NaN  a   b   c   d  message
1  0.0  1   2   3   4    hello
2  1.0  5   6   7   8    world
3  2.0  9  10  11  12      foo

Indices of NA values:
MultiIndex([(0, 0)],
           )

To read a plain text file:

In [5]:
# Reading a text file into a DataFrame
# The file is located at "../Dataset/ex3.txt"
# 'sep="\s+"' specifies that whitespace (one or more spaces) is used as the delimiter
# 'index_col=0' sets the first column as the index of the DataFrame
df = pd.read_csv("../Dataset/ex3.txt", sep="\s+", index_col=0)

# Printing the DataFrame to the console
print(df)

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

## Writing data to CSV, Excel and other file types

In [13]:
df = pd.DataFrame(data = np.random.normal(size=(500,2)), columns=['A', 'B'])

            A         B
0    0.610167  0.464454
1    1.138813  1.029929
2   -1.430564 -0.446114
3    0.062467  1.234900
4    1.140226 -2.223948
..        ...       ...
495 -0.422946 -1.073833
496 -1.071603  0.554368
497 -2.626606 -0.935611
498  0.635190 -0.150189
499 -1.196908 -0.245906

[500 rows x 2 columns]